# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
.yarn/*
.pnp.*
node_modules/

# Build directories
dist/
dist-ssr/

# Local environment files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
